@import './normalize.scss';

$header-height: 160px;

$background-gray: #dddddd;
$background-red: rgb(248, 81, 81);
$gray: #aaaaaa;
$gray-ccc: #ccc;
$red: #e00;
$white: #fff;

$padding-left-right: 200px;

$min-width: 1500px;

a:hover {
  cursor: pointer;
}